# Secrets
.env
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tiles (muy pesado)
tiles/

# Archivos grandes
*.js
